#custom-nav-link{
    color: grey;
    font-family : roboto;
}

#custom-nav-link1{
    color: grey;
    font-family : roboto;
}

#custom-nav-link2{
    color: grey;
    font-family : roboto;
}

#custom-nav-link3{
    color: grey;
    font-family : roboto;
}

.img{
    height: 5vh;
    width: 5vw;
}

.banner-bg{
    background-image: url("https://img.freepik.com/free-photo/top-view-ingredients-dryfruits-vegetables-black-background_23-2148026897.jpg?t=st=1709917998~exp=1709921598~hmac=5ee79e55600bbf283a4ad4e1cba3dd707d8115cc7f8c641da3915a6dcfa5ffba&w=740");
    height: 80vh;
    background-size: cover;

}

.banner-heading{
    color: white;
    font-family: roboto;
    font-size: 40px;
    font-weight: 300;
}

.caption{
    color: #f5f7fa;
    font-family: roboto;
    font-weight: 300;
    font-size: 30px;
    
}

.button-caption{
    width: 145px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-width: 0px;
    border-radius: 8px;
    margin-right: 10px;
}
.button-caption1{
    width: 145px;
    height: 45px;
    background-color: transparent;
    border-style: solid;
    border-radius: 8px;
    border-color: #d0b200;
    border-width: 1px;
    color: white;

}